extends layout

block content
  div(class='source_list')
    each country in list
      div(class='source')
        a(href=country.url)
          p(class='name') #{country.country}
          p(class='category') (#{country.abbrev})