doctype html
html(lang='en')
  head
    title headlines
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='icon', href='/images/logo.png', type='image/x-icon')
  body
    div(class='content')
      div(id='header', class='header')
        a(id='menu', class='menu')
          svg(xmlns='http://www.w3.org/20d00/svg', viewBox='0 0 24 24')
            path(d='M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z')
        h1(class='site-name')
          a(href='/news') Headlines
      div(class='nav-bar')
        li(class='nav-button')
          a(href='/news') Home
        li(class='nav-button')
          a(href='/news/countries') Countries
        li(class='nav-button')
          a(href='/news/sources') Sources
        li(class='nav-button')
          a(href='') Feedback
        li(class='nav-button')
          a(href='') More
        div(class='login')
          button()
            a(href='#') login
          button()
            a(href='#') sign-up
      div(class='back')
        a(href='#header') back to top

      block content

    hr
    section(class='footer')
      div(class='facebook')
        a(class='zocial-facebook', href='')
        p Like Us
      div(class='twitter')
        a(class='zocial-twitter', href='')
        p Follow Us
      div(class='email')
        a(class='zocial-gmail', href='')
        p head@line.com

    script(src='/javascripts/toggle.js')
    script(src='/javascripts/swreg.js')