doctype html
html(lang='en')
  head
    title headlines
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='icon', href='', type='image/x-icon')
  body
    div(class='content')
      div(id='header', class='header')
        a(id='menu', class='menu')
          svg(xmlns='http://www.w3.org/20d00/svg', viewBox='0 0 24 24')
            path(d='M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z')
        h1(class='site-name')
          a(href='/news') Headlines
      div(class='nav-bar')
        li(class='nav-button')
          a(href='/news') home
        li(class='nav-button')
          a(href='/news/countries') countries
        li(class='nav-button')
          a(href='/news/sources') sources
        li(class='nav-button')
          a(href='') feedback
        li(class='nav-button')
          a(href='') contact us

      block content

    hr
    section(class='footer')
      div(class='facebook')
        a(class='zocial-facebook', href='')
      div(class='twitter')
        a(class='zocial-twitter', href='')
      div(class='email')
        a(class='zocial-gmail', href='')

    script(src='/javascripts/toggle.js')