@media screen and (min-width: 400px){
	.headline li img{
		width: 30%;
		height: 30%;
		order: 0;
		border-radius: 5px;
	}
	.headline li div{order: 1; width: 69%; padding: 0 5px;}
	.headline li{display: flex; flex-wrap: wrap}
	.headline{
		padding: 0 2%;
	}
}

@media screen and (min-width: 600px){
	.menu{display: none;}
	.header h1{text-align: center;}
	.nav-bar{
		height: 50px;
		width: 100%;
		background-color: black;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.nav-button{
		display: inline;
		padding: 0;
	}
	.nav-button a{
		font-size: 13px;
		border-radius: 50px;
		padding: 0 1.5%;
		line-height: 50px;
		color: white;
		font-family: Verdana, Arial, sans-serif;
	}
    .headline li img{
		width: 25%;
		height: 30%;
		order: 0;
		border-radius: 5px;
		max-width: 127px;
	}
	.headline li div{
		order: 1;
		width: 75%;
	}
	.headline li{
		display: flex;
        flex-wrap: wrap;
        padding: 0 2%;
        width: 100%;
	}
	.headline{
		padding: 7% 2%;
        display: block;
	}
	.cslist{
		padding-top: 7%;
		margin: 0;
	}
    .login{
        float: right;
        line-height: 48px;
    }
    .login span{
        color: white;
    }
}

@media screen and (min-width: 1000px){
    .headline li div{
    }
	.nav-button a{
		padding: 0 2.5%;
	}
	.footer div{
		width: calc(100% / 3);
	}
	.back {
        margin-top: calc(100vh - 140px);
        margin-left: calc(100vw - 115px);
    }
}