@media screen and (min-width: 400px){
	.headline li{
		display: flex; 
		flex-wrap: wrap
	}
	.headline li img{
		width: 30%;
		order: 0;
		border-radius: 5px;
		max-height: 185px;
	}
	.headline li .details{
		order: 1;
		width: 70%;
		padding: 0 2%;
		max-height: 80px;
		overflow: auto;
	}
	.headline li .source_date_holder{
		order: 1;
	}
	.date{padding: 0;}
}

@media screen and (min-width: 600px){
	.menu{display: none;}
	.header{box-shadow: none;}
	.header h1{
		text-align: center;
		width: 100%;
	}
	.nav-bar{
		height: 50px;
		top: 50px;
		width: 100%;
		padding: 0 1.5%;
		background-color: red;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.nav-button{
		display: inline;
		padding: 17px 0;
		border: none;
	}
	.nav-button a{
		font-size: 13px;
		padding: 17px 1.5%;
		line-height: 50px;
		color: white;
		font-family: Verdana, Arial, sans-serif;
	}
	.dropbtn{
		
	}
	.dropdown-content{
		padding: 4px 2px;
	}
	.nav-button .notify{
        width: 140px;
        overflow: hidden;
        padding: 0 2px;
	}
    .headline li img{
		width: 25%;
		height: 30%;
		order: 0;
		border-radius: 5px;
	}
	.headline li .details{
		order: 1;
		width: 75%;
	}
	.headline li{
		display: flex;
        flex-wrap: wrap;
        width: 100%;
		margin-bottom: 20px;
	}
	.headline{
		margin-top: 120px;
        display: block;
		max-width: 785px;
		min-height: calc(100vh - 225px);
	}
	.source_list{
		min-height: calc(100vh - 155px);
		margin-top: 120px;
	}
	.source{
		width: 29%;
	}
    .login{
        float: right;
        padding: 14.5px;
    }
    .login button a{
		text-decoration: none;
    }
}

@media screen and (min-width: 1000px){
	.nav-bar{
		padding: 0 2.5%;
	}
	.nav-button a{
		padding: 17px 2.5%;
	}
	.nav-button .notify{
        width: 140px;
        overflow: hidden;
        padding: 0 2px;
	}
	.dropdown-content{
	    left: -100px;
        padding: 4px 2px;
	}
	.dropbtn{
		padding: 17px 0;
	}
	.footer div{
		width: calc(100% / 3);
	}
	.source_list{
		margin: 120px 15% 0 15%;
	}
	.source{
		width: 21%;
	}
}