@media screen and (min-width: 400px){
	.headline li{
		display: flex; 
		flex-wrap: wrap
	}
	.headline li img{
		width: 30%;
		height: 30%;
		order: 0;
		border-radius: 5px;
	}
	.headline li .details{
		order: 1;
		width: 100%;
		padding: 0 5px;
	}
	.headline li .source_date_holder{
		order: 1;
	}
	.date{padding: 0;}
}

@media screen and (min-width: 600px){
	.menu{display: none;}
	.header{box-shadow: none;}
	.header h1{
		text-align: center;
		width: 100%;
	}
	.nav-bar{
		height: 50px;
		top: 50px;
		width: 100%;
		background-color: black;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	.nav-button{
		display: inline;
		padding: 0;
		border: none;
	}
	.nav-button a{
		font-size: 13px;
		padding: 0 1.5%;
		line-height: 50px;
		color: white;
		font-family: Verdana, Arial, sans-serif;
	}
    .headline li img{
		width: 25%;
		height: 30%;
		order: 0;
		border-radius: 5px;
	}
	.headline li .details{
		order: 1;
		width: 75%;
	}
	.headline li{
		display: flex;
        flex-wrap: wrap;
        padding: 0 2%;
        width: 100%;
	}
	.headline{
		padding-top: 120px;
        display: block;
	}
	.cslist{
		padding-top: 7%;
		margin: 0;
	}
    .login{
        float: right;
        padding: 14.5px 0;
    }
    .login button a{
		text-decoration: none;
    }
}

@media screen and (min-width: 1000px){
    .headline li div{
    }
	.nav-button a{
		padding: 0 2.5%;
	}
	.footer div{
		width: calc(100% / 3);
	}
	.back {
        margin-top: calc(100vh - 140px);
        margin-left: calc(100vw - 115px);
    }
}